.Navbar {
  background-color: #333;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  z-index: 999;
}
.logo {
  font-size: 40px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.logo span {
  color:blue; 
}


.search {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 30px;
  margin-right: 10px;
  background-color: #fff;
  color: #444;
}



.links {
  display: flex;
  align-items: center;
}

.links li {
  list-style: none;
  margin-right: 100px;
}

.links li a {
  color: #fff;
  text-decoration: none;
}

.links li a:hover {
  text-decoration: underline;
  color: blue;
}


.links button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color:white;
  cursor: pointer;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.search-result {
  width: 200px;
  margin: 10px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.search-result img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.search-result h3 {
  font-size: 18px;
  margin-top: 5px;
  color: blue;
}

.search-result p {
  font-size: 14px;
  margin-top: 5px;
}